@media screen and (max-width: 280px) {
  a.nav-link.py-4 {
    font-size: 12px;
  }
  span.name-admin-tab {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  div.nav-pills{
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 420px) {
  div.nav-pills{
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  .fa.pr-2 {
    font-size: 24px;
  }
  span.name-admin-tab {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  div.nav-pills{
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  span.name-admin-tab {
    font-size: 12px;
  }
}