@import url('../node_modules/font-awesome/css/font-awesome.css');

body {
  margin: 0;
}

/* LOGIN */
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

div#formContainer{
  border-radius: 1rem;
}

section {
  padding-top: 58px;
  height: 100vh;
}

@media screen and (max-width: 280px) {
  section {
    padding-top: 93px;
  }
}

@media (min-width: 200px) and (max-width: 350px) {
  div#formContainer{
    font-size: 10px;
  }
  #btn-login{
    padding: 3px 24px !important;
  }
}
